<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">

      <child-component v-model="sendData"></child-component>

      <p>부모데이터 : {{ sendData }}</p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <style>
    </style>

    <script type="text/javascript">
    
      const ChildComponent = {
        template: `
            <div>
                <p>자식데이터: <input type="text" v-model="childmodel" /></p>
            </div>
        `,
        props: ['value'],
        computed: {
            'childmodel': {

                get() {
                    return this.value;
                },

                set( val ) {
                    this.$emit('input', val);
                }

            }
        },
        methods: {
        }
      }

      new Vue({
        el: '#app',
        components: { ChildComponent },
        mounted() {
          console.log( '구동되었다.' );
        },
        data() {

          return {
            sendData: '안녕?'
          }
          

        },
        methods: {

        }

      })
    </script>
  
  </body>
</html>